.formatText {
    text-align: justify;
  }
  .corFundoBarra {
    background-color: transparent !important;
    width: 100%;
  }

  [red]{
    color:red;
  }

p {
    text-align: justify;   
}

.destaque {
  color: #E38108
}

h1 {
  color: #E38108
}

h2 {
    color: #E38108
}
h3 {
  color: #894200
}

h4 {
  color: #E38108
}

h5 {
  color: #894200
}
.flex {
    display: flex;
    justify-content: center
}

iframe {
    width: 100%; 
    height: 100%;
}

pre {

  padding: 10px;
  border: 1px solid #E38108;
  border-radius: 5px;
  overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se necessário */
  max-width: 100%; /* Garante que o contêiner não ultrapasse a largura do pai */
}

code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}
